<ion-view view-title="Detail">
  <ion-content>
    <div class="center detail-head">
      <h2>{{info.name}}</h>
    </div>


    <div class="list card">

      <div class="item item-avatar">
        <img src="{{info.img}}">
        <h2>{{info.name}}</h2>
        <p>{{info.category}}</p>
      </div>
    
      <div class="item item-body">
        <div>
          <img class="full-image" src="{{info.img}}">
        </div>
        <div class="center" style="margin-bottom: -15px;">
          <p>Telefon Numarasi</p>
        </div>
        <div class="center">
          <h1>{{info.phone}}</h1>
        </div>
      </div>
    
    </div>


  </ion-content>
</ion-view>
